<div class="container">
  <div class="header d-flex justify-content-between align-items-center">
    <h2 class="my-4"><%= @task.title %></h2>
    <%= link_to edit_task_path(@task), action: 'go' do %>
    <ul class="list-inline btn btn-light my-0">
      <li class="list-inline-item">
        <i class="fas fa-pen mx-0"></i>
      </li>
      <li class="list-inline-item">
        <p class= "my-0">Edit task</p>
      </li>
    </ul>
    <% end %>

  </div>

  <p class="border border-secondary w-100 p-3 rounded"><%= @task.details %></p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <% if @task.completed %>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    </li>
    <li class="list-inline-item">
      <%= "This task is #{@task.completed ? '' : 'not'} completed." %>
    </li>
  </ul>

  <ul class="list-inline">
    <li class="list-inline-item">
      <i class="fas fa-undo-alt"></i>
    </li>
    <li class="list-inline-item">
      <%= link_to 'Back to my tasks', tasks_path %>
    </li>
  </ul>

</div>




